:root {
    --areia: #F5CBA7;
    --branco: #ffffff;
    --cinza: #5D6D7E;
    --cinza-claro: #E5E8E8;
    --cinza-escuro: #1C2833;
    --gelo: #D0D3D4;
    --palha: #EDBB99;
    --preto: #000000;
    --prata: #99A3A4 ;
    --marrom: #A04000;

    --montserrat: "Montserrat", sans-serif;
    --playfair: "Playfair Display", serif;
}