.calendar {
    padding: 0.5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#has_reservations {
    background-color: var(--preto);
}

.calendar p {
    font-family: var(--montserrat);
    font-size: 0.75rem;
    border: solid 2px var(--prata);
    border-radius: 5px;
    padding: 1rem;
}

.calendar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar div div {
    display: flex;
    gap: 1rem;
}

.calendar a {
    text-decoration: none;
    color: var(--preto);
    font-family: var(--montserrat);
}

.calendar h1 {
    font-family: var(--playfair);
    font-size: 3.5rem;
    font-weight: 800;
}

.calendar h2{
    font-family: var(--playfair);
    font-size: 3rem;
}

.calendar form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 2px var(--preto);
    border-radius: 15px;
    padding: 1rem;
}

.calendar form div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.calendar input {
    background-color: var(--branco);
    border-radius: 5px;
    padding: 2rem;
    border-color: var(--prata);
    flex-basis: calc(100% / 7);
    box-sizing: border-box;
    font-family: var(--montserrat);
    font-size: 2rem;
}