.edit_reservations {
    display: flex;
    justify-content: space-between;
}

.edit_reservations h1 {
    font-size: 3rem;
    font-family: var(--playfair);
    font-weight: 500;
}

.edit_reservations a{
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--montserrat);
    padding: 0.75rem;
    border-radius: 5px;
    border: solid 1px var(--prata);
    color: var(--preto);
    background-color: var(--branco);
    width: 2rem;
    align-self: flex-end;
}

.edit_reservations div {
    display: flex;
    flex-direction: column;
    padding: 2rem 8rem;
    gap: 3rem;
}

.edit_reservations div div {
    padding: 0;
}

.edit_reservations form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit_reservations form select {
    width: 200px; /* Define a largura do select */
    padding: 10px; /* Adiciona preenchimento interno */
    font-size: 16px; /* Define o tamanho da fonte */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    background-color: #f9f9f9; /* Define a cor de fundo */
}

.edit_reservations form option {
    border-radius: 5px;
}

.edit_reservations label {
    font-family: var(--playfair);
}

.edit_reservations input {
    padding: 0.75rem;
    border-radius: 5px;
    border-color: var(--cinza-claro);
}

.edit_reservations input[type="submit"] {
    padding: 0.75rem;
    border-radius: 5px;
    border-color: var(--cinza-claro);
    color: var(--branco);
    background-color: var(--preto);
    width: 20%;
    align-self: center;

}

.edit_reservations img {
    width: 50vw;
    height: 80vh;
}
