{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block content %}
    <section class="about">
        <div>
            <h1>Sobre</h1>
            <p>O projeto nasceu através da atividade de extensão do 4º semestre de Engenharia de Software da Universidade Cruzeiro do Sul (UNICSUL),
                onde os alunos deveriam buscar soluções inovadoras e tecnológicas dentro de seu escopo de aprendizado para contribuir para o desenvolvimento
                acadêmico ou da comunidade a qual pertencem.
                As reservas da churrasqueira do condomínio Edifício Atlântico são atualmente feitas pelo síndico e zelador vigentes de forma informal,
                através de contato pessoal, telefônico ou mensageiro. O intuito do AtlânticoBBQ é facilitar as reservas feitas pelos condôminos, assim como 
                reduz a tarefa do síndico/zelador, organizando a agenda da churrasqueira do edifício, mantendo históricos dos utilizadores e controlando de forma 
                equilibrada a frequencia de utilização do espaço e sua integridade. Garantindo que todos possam usufruir de lazer igualmente e de forma justa.
            </p>
        </div>
        <img src="/static/images/pool-girl.jpg" alt="Foto de menina em boia na piscina.">
    </section>
{% endblock %}