{% extends "base.html" %}

{% block title %}Home - Calendário{% endblock %}

{% block content %}
    <section class="calendar">
        <div>
            <h1>Calendário</h1>
            <div>
                <a href="{% url 'edit_user' %}">Editar Usuário</a>
                <a href="{% url 'edit_reservations' %}">Editar Reservas</a>
            </div>
        </div>
        {% for month_data in calendars %}
            <form action="/calendar/submit/" method="POST">
                {% csrf_token %}
                <h2>{{ month_data.month_name }}</h2>
                <div>
                    {% for month in month_data.month_name %}
                    <input type="text" name="month" id="month" value="{{ month_name }}" hidden>
                    {% endfor %}
                    {% for day in month_data.days %}
                    <input type="text" name="day" id="day" value="{{ day }}" hidden>
                    <input type="submit" value="{{ day }}">
                    {% endfor %}
                </div>
            </form>
        {% endfor %}
    </section>
{% endblock %}
