{% extends "base.html" %}

{% block title %}Home - Calendário{% endblock %}

{% block content %}
    <section class="calendar">
        <div>
            <h1>Calendário</h1>
            <div>
                <a href="{% url 'edit_user' %}">Editar Usuário</a>
                <a href="{% url 'edit_reservations' %}">Editar Reservas</a>
            </div>
        </div>
        {% for month_data in calendars %}
            <form action="submit" method="POST">
                <h2>{{ month_data.month_name }}</h2>
                <div>
                    {% for day in month_data.days %}
                    <input type="submit" name="event_date" value="{{ day }}">
                    {% endfor %}
                </div>
            </form>
        {% endfor %}
    </section>
{% endblock %}
