{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section class="contact">
        <div>
            <h1>Contato</h1>
            <div>
                <a href="mailto:grimdevelop@gmail.com" >grimdevelop@gmail.com</a>
                <a href="https://www.linkedin.com/in/victoria-schweiger-320223b0/" target="_blank">LinkedIn</a>
                <a href="https://github.com/vicschweiger" target="_blank">GitHub</a>
            </div>
        </div>
        <img src="/static/images/phone-pool.avif" alt="Foto de mulher de chapéu segundo celular em frente à piscina.">
    </section>
{% endblock %}