{% extends "base.html" %}

{% block title %}Home - Editar Usuário{% endblock %}

{% block content %}
    <section class="edit_user">
        <div>
            <div>
                <h1>Alterar dados de usuário</h1>
                <a href="{% url 'logout' %}">Sair</a>
            </div>
            <form action="/edit_user/submit/" method="POST">
                {% csrf_token %}
                <input type="text" name="user_id" id="user_id" value="{{ user.id }}" hidden>
                <label for="first_name">Nome:</label>
                <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
                <label for="last_name">Sobrenome:</label>
                <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" value="{{ user.password }}">
                <input type="submit" value="Alterar">
            </form>
        </div>
        <img src="/static/images/churrascopiscina.avif" alt="Foto de churrasqueira ao lado de piscina.">
    </section>
{% endblock %}
